
/* Accordion Styles */
.accordion {
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-top: 1px solid #ddd;
}

.accordion-item:first-child {
  border-top: none;
}

.accordion-toggle {
  background: linear-gradient(90deg, #AB35CF, #FF8587, #7300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  color: #333;
  padding: 20px;
  padding-left:30px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 24px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.accordion-icon {
  margin-left: 10px;
  transition: transform 0.3s ease;
}
.accordion-icon svg {
  width: 40px;
  height: 40px;
  stroke: currentColor;
  stroke-width: 1;
  fill: none;
}
.accordion-toggle.active .accordion-icon {
  transform: rotate(180deg);
}
.accordion-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 15px;
  background: #fff;
  transition: max-height 0.3s ease, padding 0.3s ease;
}
.accordion-text{
  font-size: 20px;
  color: #000;
  text-align: left;
  padding-left: 20px;
  line-height: 1.6;
  font-weight: 500;
}
.accordion-content.open {
  padding: 15px;
  max-height: 500px; /* adjust as needed */
}
/* Global styles */
body {
    margin: 0;
    padding-top: 0px; /* Height of the fixed header */
    font-family: 'Pretendard', sans-serif;
    background: linear-gradient(to bottom, #7300FF1A, #AB35CF1A, #FF85871A);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
/* Reset styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Container & Top-Header */
.container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 30px;
}

/* Hero section styles */
.hero {
  background-image:url(../assets/main/Visual.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 600px;
  padding: 160px calc((100% - 1020px) / 2);
}
.hero-content{
  position: absolute;
  max-width: 1020px;
  gap: 60px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    color: #fff;
}

.hero-content img{
  margin-top: 60px;
  padding-left:100px;
  width: 40%;
}

.hero h2 {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hero h1{
    font-weight: 600;
    font-size: 60px;
    margin-bottom: 30px;
    background: linear-gradient(90deg, #FF9092, #FF9092);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.hero h3{
  margin-bottom:14px;
  font-size: 32px;
  font-weight: 600;
}
.hero p{
  font-size: 18px;
}

/*Title, Sub-title*/
.gradient-text {
  background: linear-gradient(90deg, #FF8587, #AB35CF, #7300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.6;
}
.bottom-text{
  font-size: 60px;
  margin-bottom: 20px;
}

.description{
  margin-top: 30px;
  margin: 0 auto;
}

.banner{
  background: linear-gradient(to bottom, #000000, #042350);
  color: #fff;
  text-align: center;
  padding: 55px;
  font-size: 28px;
  line-height: 1.4;
}
/*Concern Section*/
.concerns {
  padding: 100px 0px 0px;
  text-align: center;
}
.speech-bubbles{
  display: flex;
  width: 100%;
  margin-top: 43px;
  margin-bottom: 120px;
  justify-content: center;
}
.speech-bubble-section {
  margin: 0 auto;
}
.speech-bubble-one{
  padding-right: 20px;
}

/*Precise-diagnosis Section*/
.precise-diagnosis{
  text-align: center;
}
.solutions{
  margin: 0 auto;
  max-width: 1020px;
}
.solutions p{
  padding-top: 30px;
}
.solutions img{
  margin-top:40px;
}
.solutions a{
  display: inline-block;
  transition: transform 0.3s ease;
}
.solutions a:hover{
  transform: scale(1.03);
}

/* Critical Period Section*/
.critical-period-cards-mobile{
  display: none;
}
.critical-period{
  display: block;
  padding: 80px 0px 0px;
  text-align: center;
}
.critical-period h2 {
  font-size: 48px;
  line-height: 1.6;
}
.critical-period-cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.critical-period-section {
  display: flex;
  justify-content: flex-start; /* 꼭 필요! */
  margin-bottom: 100px;
  margin-top: 50px;
}
.critical-period-section > div {
  margin-left: -20px;
}
.critical-period-section > div:first-child {
  margin-left: 0; /* 첫 카드는 정상 위치 */
}
.critical-period-cards img {
  max-width: 420px;
  width: 100%;
}
.critical-period-section > div:nth-child(2) {
  transform: translateY(-20px);
}

/* Reading Intro Section (above footer) */
.reading-intro {
  position: relative;
  text-align: center;
  padding: 0;
  background: none;
  overflow: hidden;
}
.reading-bg-image {
  width: 100%;
  display: block;
}
.reading-intro-inner {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -70%);
  color: white;
  font-size: 58px;
  font-weight: 700;
  line-height: 1.4;
  max-width: 1020px;
  white-space: nowrap;
}
.reading-intro .highlight {
  background: linear-gradient(90deg, #FF8587, #AB35CF, #7300FF);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.1;
}
.reading-intro p{
  margin-bottom: 30px;
}

.boostercard{
  width: 100%;
  margin: 0 auto;
}
.boostercard img{
  width: 350px;

}

/*Curriculum*/
.curriculum {
  background: #fff;
  padding: 100px 0px 0px;
  text-align: center;
}
.curriculum p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin-top: 30px;
}
.curriculum-graphic {
  display: block;
  margin: 0 auto;
  padding-bottom: 80px;
  overflow: hidden;
  max-width: 1020px;
  /*max-width: 1020px;*/
}
.timetable{
  margin: 0 auto;
  width: 100%;
}
.timetable img{
  width: 300px;
}

/*Roadmap*/
.roadmap {
  padding: 100px 0px 60px;
  text-align: center;
}
.roadmap p {
  max-width: 1020px;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 20px;
  color: #666;
  line-height: 1.6;
  margin-bottom: 40px;
}
.roadmap-graphic {
  width: 100%;
  margin: 0 auto;
  max-width: 1020px;
  gap: 20px;
  margin-bottom: 30px;
  padding:0 80px;
}
.roadmap-graphic img {
  height: auto;
}
.roadmap-graphic img:first-child{
  padding-right: 10px;
}
.banner{
  background: linear-gradient(to bottom, #000000, #042350);
  color: #fff;
  text-align: center;
  padding: 55px;
  font-size: 28px;
  line-height: 1.4;
}

.banner p{
  padding-top:10px;
  font-size:18px;
}
/*Instructor Qualification*/
.instructor-period{
  display: block;
  padding:100px 0px 100px;
  text-align: center;
  background: linear-gradient(to bottom, #7300FF1A, #AB35CF1A, #FF85871A);
}
.instructor-period-cards {
  display: flex;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
}
.instructor-period-section-pc {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
  margin-top: 50px;
}

.instructor-period-section-mobile{
  display: none;
}
.instructor-period-cards img {
  max-width: 1020px;
  width: 100%;
  padding-bottom: 16px;
}

.register-text{
  padding-top:60px;
  font-size:40px;
  padding-bottom:60px;
  line-height: 1.4;
}
.arrow{
  padding-top: 70px;
}
.arrow img{
  width: 100%
}
.faq-section-title{
  margin: 0 auto;
  background-color: #fff;
  max-width: 1020px;
  padding-top: 70px;
  padding-bottom:50px;
  border-radius: 20px;
  color: #fff;
}

.faq-bottom-text{
  font-size: 50px;
  margin-bottom: 40px;
  color: #000;
}

.faq-qn{
  max-width: 900px;
  text-align: left;
  padding-left:90px;
  padding-bottom:30px;
  color: #000;
  font-weight: 500;
}

.faq-qn h2{
  background: linear-gradient(to right, #AB35CF, #FF8587);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 26px;
}

.faq-qn h3{
  padding-top: 5px;
  font-size: 22px;
  padding-left: 24px;
  font-weight: 400;
  line-height: 1.5;
}

/* Reading Intro Section (above footer) */
.usp{
  display: block;
  padding:100px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.usp .bottom-text{
  margin-bottom: 50px;
}
.usp-wrapper{
  background: linear-gradient(180deg, #04224E, #010101);
}
.usp-bg-img{
  width: 100%;
  background-color: #fff;
}
.usp-cards-mobile{
  display: none;
}
.usp-cards-pc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  padding-bottom: 80px;
}
.usp-cards-pc img{
  width: 100%;
  padding-bottom: 16px;
}

/*admission steps*/
.admission-steps {
  padding: 100px 30px;
  text-align: center;
  background-color: #fff;
}
.admission-steps p{
  max-width: 1020px;
  margin: 0 auto 40px;
  color:#666;
  line-height: 1.6;
  font-size: 20px;
}
.step-card {
  flex: 1 1 22%; /* 데스크탑 기준 4등분 */
  padding: 20px;
  text-align: center;
}
.step-card img {
  max-width: 940px;
  margin-bottom: 16px;
}
.step-card h3{
  margin-bottom: 10px;
}
.step-card p{
  width: 258px;
  font-size: 14px;
}
.step-card-mobile{
  display: none;
}

/*fixedBanner*/
.fixedBanner {
  position: fixed;
  bottom: 15px;
  width: 100%;
  z-index: 3;
  transition: opacity 0.3s ease;
}

.fixed-banner.hide {
  opacity: 0;
  pointer-events: none;
}

.fixedBanner > div {
  position: relative;
  margin: 0 auto;
  max-width: 1020px;
  height: 170px;
  background: url("../assets/main/BoosterRegister.svg") no-repeat center / cover;
  border-radius: 15px;
  cursor: pointer;
  overflow: hidden; /* 중요: shimmer 잘리게 */
}

.fixedBanner a {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

.fixedBanner > div::before {
  content: '';
  position: absolute;
  bottom: 0; left: 0;
  width: 100%;
  height: 100%;
  border-radius: 18px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 10%,
    rgba(255, 255, 255, 0.6) 20%,
    rgba(255, 255, 255, 0) 40%
  );
  background-size: 300% 100%;
  animation: shimmer 3.5s infinite linear;
  pointer-events: none;
  z-index: 2;
}

/*.fixedBanner > div:hover::before {
  animation-play-state: paused;
}*/

.fixedBanner > div {
  transition: transform 0.3s ease;
}

.fixedBanner > div:hover {
  transform: scale(1.02);
}


/*고해상도*/ 
  @media (min-width: 1021px){
    .mobile-header{
      display: none;
    }
  }

  @media (max-width: 1020px){
/* Hero section styles */
.hero {
  height: 48vw;
  padding: 100px 30px 180px;
}
.hero h2 {
    font-size: 3vw;
    margin-bottom:4px;
    line-height: 1.4;
  }
.hero h1{
    font-weight: 600;
    font-size: 5vw;
    margin-bottom:10px;
}
.hero h3{
  font-size: 2.4vw;
}
.hero p{
  font-size: 1.4vw;
}
.hero-content img{
  margin-top:10px;
  padding-left:80px;
  width: 40%;
}
.hero-content{
  gap:1vw;
}
.description{
  font-size: 2.4vw;
}
.banner{
  font-size: 2.5vw;
  line-height: 1.4;
}

.banner p{
  padding-top:10px;
  font-size:2.5vw;
}

/*Title, Sub-title*/
.gradient-text {
  font-size: 5vw;
  line-height: 1.6;
}
.bottom-text{
  font-size: 5.7vw;
  margin-bottom: 8px;
  line-height: 1.6;
}
/*Concern Section*/
.concerns {
  padding: 70px 0px 0px;
}
.concerns h2 {
  margin-bottom: 0px;
  font-size: 4vw;
}
.speech-bubbles{
  margin-top: 8px;
  margin-bottom: 20px;
}
.speech-bubble-section{
  margin: 20px 0 40px;
  gap: 20px;
}
.speech-bubble-one{
  padding-right: 10px;
}
.speech-bubble-section img{
  width: 45vw;
}

/*Precise-diagnosis Section*/
.precise-diagnosis{
  text-align: center;
}
.solutions{
  margin: 0 auto;
  max-width: 1020px;
}
.solutions p{
  padding-top: 0px;
}
.solutions img{
  margin-top:0px;
  width: 100%;
  padding:30px;
}

.arrow img{
  width: 100%
}

/* Critical Period Section*/
.critical-period{
  margin-top: 40px;
  padding-top: 0px;
}
.critical-period-cards{
  display: none;
}
.critical-period-cards-mobile{
  text-align: center;
  display: block;
  padding: 4vw 12vw 3vw;
}
.critical-period h2{
  line-height: 0;
}
.critical-period-one-mobile{
  padding-bottom:20px;
}
.critical-period-two-mobile{
  padding-bottom:20px;
}
.critical-period-three-mobile{
  padding-bottom:20px;
}
.critical-period-cards-mobile img {
  max-width: 380px;
  width: 100%;
}

/* Reading Intro Section (above footer) */
.reading-intro-inner {
  font-size: 5vw;
}
.reading-intro .highlight {
  font-size: 5vw;
}
.boostercard{
  width: 100%;
  margin: 0 auto;
}
.boostercard img{
  width: 30vw;
}
.timetable img{
  width: 90%;
  padding:2px 80px;
}

.timetable img:first-child{
  padding-right: 80px;
}
.register-text{
  padding-top:60px;
  font-size:5vw;
  padding-bottom:60px;
  line-height: 1.4;
}
/*Curriculum*/
.curriculum {
  padding: 70px 0px 0px;
  text-align: center;
  line-height: 1.4;
}
.curriculum h2{
  margin-bottom: 0px;
  line-height: 0;
}
.curriculum p {
  font-size: 14px;
  max-width: 90vw;
  margin: 10px auto 30px;
  font-weight: 400;
}
.curriculum-graphic {
  padding: 0;
  /*max-width: 1020px;*/
gap: 0px;
}
/*Roadmap*/
.roadmap {
  padding:70px 0 40px;
}
.roadmap p {
  font-size: 14px;
  max-width: 90vw;
  margin: 10px auto 30px;
  font-weight: 400;
}
.roadmap-graphic{
}
.roadmap-graphic img {
  width: 50vw;
}
/*flagship*/
.flagship{
  max-width: 90vw;
}
.program-label {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0px;
}
.program-heading-wrapper{
  margin-bottom:8px;
  gap: 10px;
}
.program-heading {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
}
.program-indicator {
  width: 4px;
  height: 100%;
  min-height: 53px;
  border-radius: 4px;
  background: linear-gradient(180deg, #3179f6, #a01aff);
  flex-shrink: 0;
}
.program-description{
  max-width: 1020px;
  margin: 0 auto;
  font-size: 14px;
  color: #666;
  line-height: 1.6;
  font-weight: 400;
}
.flagship-program-cards{
  flex-direction: column;
  gap:0px;
  padding: 4vw 10vw 3vw;
}
.flagship-program-one{
  padding-bottom:20px;
  margin: 0 auto;
}
.flagship-program-two{
  padding-bottom:20px;
  margin: 0 auto;
}
.flagship-program-three{
  margin: 0 auto;
}
.flagship-program img{
  max-width: 400px;
  width: 100%;
}

/*Booster*/
.booster{
  max-width: 90vw;
  margin-top: 40px;
}
.booster-program{
  margin-bottom: 50px;
}
.booster-program-cards{
  flex-direction: column;
  gap:0px;
}
.booster-program-one{
  padding: 7vw 10vw 0px;
  margin: 0 auto;
}
.booster-program-two{
  padding: 6vw 10vw 0px;
  margin: 0 auto;
}
.booster-program-three{
  padding: 6vw 10vw 0;
  margin: 0 auto;
}
.booster-program img{
  max-width: 400px;
  width: 100%;
}

/*Instructor Qualification*/
.instructor-period{
  display: block;
  padding: 70px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.instructor-period-cards {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 20px;
}
.instructor-period-section-mobile {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}
.instructor-period-section-pc{
  display: none;
}
.instructor-period-cards img {
  max-width: 1020px;
  width: 100%;
  padding-bottom: 6px;
}

/* Reading Intro Section (above footer) */
.usp{
  display: block;
  padding:10px 0px 0px;
  text-align: center;
  background-color: #fff;
}
.usp-bg-img{
  width: 100%;
  background-color: #fff;
}
.usp-cards-pc{
  display: none;
}
.usp-cards-mobile{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1020px;
  margin: 0 auto;
  padding: 20px 20px 0px;
}
.usp-cards-mobile img{
  width: 100%;
  padding-bottom: 6px;
}

/*admission steps*/
.admission-steps {
  padding: 30px 30px;
  text-align: center;
  background-color: #fff;
}
.admission-steps p{
  max-width: 1020px;
  margin: 0 auto 0px;
  color:#666;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 40px;
}
.admission-header {
  max-width: 900px;
  margin: 0 auto 60px;
}
.admission-cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  max-width: 1020px;
  margin: 0 auto;
  flex-wrap: wrap; /* 모바일 대응 */
}
.step-card-mobile {
  display: block;
  flex: 1 1 32%; /* 데스크탑 기준 4등분 */
  border-radius: 12px;
  padding: 0;
  text-align: center;
}
.step-card-mobile img {
  width: 100%;
  padding-left: 0px;
  margin-bottom: 16px;
}
.step-card h3{
  margin-bottom: 10px;
  font-size: 16px;
}
.step-card p{
  width: 100px;
  font-size: 13px;
}
.step-card{
  display: none;
}

.fixedBanner{
    padding: 0 20px;
  position: fixed;
  bottom: 15px;
  width: 100%;
  z-index: 3;
  transition: opacity 0.3s ease;
}
.fixedBanner > div{
    width: 100%;
    background-size: contain;
    background: url("../assets/main/BoosterRegister_mobile.png") no-repeat center / cover;
    height: auto;
    aspect-ratio:1020/430;
    overflow: hidden;
    position: relative;
}

.fixedBanner a {
  display: block;
  width: 100%;
  height: 100%;
}

@keyframes shimmer {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -100% 0;
  }
}
.fixedBanner > div::before {
  position: absolute;
  height: auto;
  aspect-ratio: 1020/295;
  border-radius: 11.1vw;
}

/* Accordion Styles */

.faq-section-title{
  margin: 20px;
  max-width: 1020px;
  padding-top: 30px;
  padding-bottom:30px;
}
.faq-bottom-text{
  font-size: 6vw;
}
.accordion-toggle {
  font-size: 3.7vw;
  padding:0px 20px 0px 20px;
}
.accordion-text{
  font-size: 14px;
}
.accordion-icon svg{
  width: 30px;
}

/*fixedBanner*/
}
